.top-header{
    max-height: 80px;

    position: fixed;
    left: 0;
    right: 0;


    background-color: var(--primary-color);

    justify-content: space-evenly;

    box-shadow: 0px 2px 1px 0px var(--ternary-color);

    z-index: 10;
}

.header-section{
    max-height: inherit;
}

.header-item{
    max-width: 400px;

    margin-right: 25px;
}

.logo{
    width: 50px;
    height: 50px;

    object-fit: cover;
    object-position: center;
}

.nav-bar{
    max-width: 800px;
    min-width: 300px;

    justify-content: space-between;

    max-height: inherit;
    height: max-content;
}

.nav-bar .menu{
    height: 55px;

    list-style: none;

    padding: 3px 10px;

    transition: background-color .3s, margin .3s, box-shadow .3s;

    cursor: pointer;

    margin-left: 25px;
}

.nav-bar .menu .item{
    font-size: 18px;
    text-decoration: none;
}

.nav-bar .menu .item a{
    text-decoration: inherit;
    font-size: inherit;

    color: var(--secondary-color);

    transition: color .3s, font-weight .2s;
}

.header-item .searcher{
    max-width: 300px;

    padding: 0 4px;

    border: 2px solid var(--shadow-secondary-color);

    border-radius: 15px;
}

.header-item .searcher .item{
    margin-right: 10px;
    color: var(--shadow-secondary-color);

    transition: color .2s;
}

.header-item .searcher .item:hover{
    color: var(--secondary-color);
}

.header-item .searcher .search-bar{
    border: none;

    padding: 5px 8px;

    outline: none;

    font-size: 18px;
    font-weight: 300;
}

.header-item .searcher .search-bar::placeholder{
    color: var(--shadow-secondary-color);
}