main section{
    margin-top: 5px;
    min-width: 600px;

    background-color: white;
}

main .small-section{
    padding: 0 20%;
}

main .big-section{
    width: 100%;
    height: 700px;
}


.section-10{
    min-width: 5%;
    max-width: 10%;
}

.section-30{
    min-width: 25%;
    max-width: 30%;
}

.section-40{
    min-width: 35%;
    max-width: 40%;
}

.section-item{
    padding: 5px 7px;
    margin: 5px 0;

    max-height: 200px;
}

.section-item::after{
    position: absolute;
    top: 0;
    content: ' ';
    background-color: rgba(255, 255, 255, .8);
}

.text-section{
    flex: 1;
    max-width: 900px;
    min-width: 300px;

    font-size: 1.2rem;

    margin-right: 25px;
}

.image-section{
    min-width: 300px;
    max-height: inherit;
}

.image-section img{
    max-height: inherit;
    max-width: 300px;
    object-fit: contains;
    object-position: center;
}

main .separator{
    padding: 5px 0;
    height: 15px;
    background-color: var(--primary-color);

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .separator::after{
    display: block;
    position: absolute;

    width: 40%;
    height: 4px;
    content: ' ';

    background-color: black;
    border-radius: 15px;

    animation: stretch 3s linear 0s infinite alternate none;
}

.map-selector{
    position: relative;

    width: 100%;
    height: inherit;

    background-image: url("../../images/cartina_curdi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.map-selector .overlay{
    position: absolute;

    width: inherit;

    width: 100%;
    height: inherit;

    background-color: rgba(0, 0, 0, .7);

    z-index: 1;

    transition: background-color .8s;
}

.map-selector .overlay:hover{
    background-color: rgba(0, 0, 0, .5);
}

.map-selector .selector{ /* 1.84 / 5 */
    position: absolute;

    width: 24px;
    height: 24px;

    background-color: var(--image-selector-color);

    z-index: 2;

    border-radius: 100%;
    
    transition: transform .5s;

    animation: pulse-selectors 3s linear .3s infinite alternate none;
}

.map-selector .selector:hover{
    cursor: pointer;
    transform: scale(1.5, 1.5);

    animation: none;
}

.map-selector .selector:hover::after{
    animation: none;
}

.map-selector .selector::before{
    position: absolute;
    top: 3px;
    left: 3px;

    width: 18px;
    height: 18px;

    background-color: black;

    content: ' ';

    border-radius: 100%;

    z-index: 3;
}

.map-selector .selector::after{
    position: absolute;
    top: 10px;
    left: 10px;

    width: 4px;
    height: 4px;
    content: '';

    background-color: var(--image-selector-color);
    border-radius: 100%;

    z-index: 4;
    
    transition: transform .5s; 
    
    animation: pulse-selectors 3s linear .3s infinite alternate none;
}

.map-selector .selector:hover ~ .overlay{
    background-color: rgba(0, 0, 0, .5);
}

.map-selector .selector .hidden-hover{
    position: absolute;
    top: -70px;
    left: -250px;

    width: 200px;

    display: none;

    cursor: default;
}

.map-selector .selector .hidden-hover:hover{
    background-color: rgba(255,255, 255, .1);
}

.map-selector .selector .hidden-hover .info .title{
    margin-top: 15px;
}

.map-selector .selector .hidden-hover .lines{
    position: absolute;
    top: 32px;
    left: -12px;

    background-color: var(--image-selector-color);

    width: 220px;
    height: 1px;

    border-collapse: collapse;
}

.map-selector .selector .hidden-hover .lines::before{
    position: absolute;
    left: 205px;
    top: 23px;
    
    width: 50px;
    height: 1.2px;

    content: '';
    background-color: var(--image-selector-color);

    transform: rotate(65deg);
    
    border-collapse: collapse;
}

.map-selector .selector .hidden-hover .lines::after{
    position: absolute;
    top: 46px;
    left: 240px;

    width: 18px;
    height: 1.2px;

    content: '';
    background-color: var(--image-selector-color);
    
    border-collapse: collapse;
}

.map-selector #turchi{
    top: 40%;
    left: 40%;
}

.map-selector #siria{
    top: 60%;
    left: 35%;
}

.map-selector #iran{
    top: 65%;
    left: 55%;
}

.map-selector #iran .hidden-hover{
    left: 74px;
}

.map-selector #iran .hidden-hover .lines::before{
    transform: rotate(-65deg);
    left: -35px;
}

.map-selector #iran .hidden-hover .lines::after{
    left: -39px;
}


.map-selector #iraq{
    top: 67%;
    left: 47%;
}

.map-selector #iraq .hidden-hover{
    top: -245px;
    left: 53px;
}

.map-selector #iraq .hidden-hover .lines::before{
    transform: rotate(90deg);

    width: 220px;

    left: -110px;
    top: 110px;
}

.map-selector #iraq .hidden-hover .lines::after{
    top: 220px;
    left: -18px;
}





@keyframes stretch {
    from{
        width: 50%;
    }
    to{
        width: 65%;
    }
}

@keyframes pulse-selectors {
    0%{
        background-color: var(--image-selector-color);
    }
    50%{
        background-color: white;
    }

    60%{
        background-color: var(--image-selector-color);
    }
    70%{
        background-color: white;
    }
    100%{
        background-color: var(--image-selector-color);
    }
}